[include]
	path = ~/.gituser
[init]
	defaultBranch = main
[core]
	autocrlf = false
	excludesFile = ~/.gitignore-global

[push]
	autoSetupRemote = true
[branch]
	sort = -committerdate

# VSCode for diff/merge
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED

# Use SSH always
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[url "git@gitlab.com:"]
	insteadOf = "https://gitlab.com/"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
