[include]
	path = ~/.gituser
[init]
	defaultBranch = main
[core]
	autocrlf = false
	excludesFile = ~/.gitignore-global

[color]
	ui = auto
[color "branch"]
	current = green
	remote = blue

[fetch]
	prune = true
[push]
	autoSetupRemote = true
[branch]
	sort = -committerdate

# VSCode for diff/merge
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED

# Use SSH always
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[url "git@gitlab.com:"]
	insteadOf = "https://gitlab.com/"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
    main = !git checkout main && git pull
    master = !git checkout master && git pull
    clean-branches = !git_clean_branches.sh
    fz-checkout = !git checkout $(git branch | fzf)
    fz-log = !git log --oneline --decorate | fzf --ansi | cut -d' ' -f1 | xargs git show
    fz-stash = !git stash list | fzf | cut -d: -f1 | xargs git stash apply
